<ul class="icon-links">

  {% for entry in site.data.resume.basics.profiles %}
  <li class="icon-link-item"><a href="{{ entry.url }}" class="icon-link">
    {% if entry.network == "GitHub" %}

      {% include icons/icon-github.html %}

    {% endif %}

    {% if entry.network == "Twitter" %}

      {% include icons/icon-twitter.html %}

    {% endif %}

    {% if entry.network == "Dribbble" %}

      {% include icons/icon-dribbble.html %}

    {% endif %}

    {% if entry.network == "Facebook" %}

      {% include icons/icon-facebook.html %}

    {% endif %}

    {% if entry.network == "LinkedIn" %}

      {% include icons/icon-linkedin.html %}

    {% endif %}

    {% if entry.network == "Instagram" %}

      {% include icons/icon-instagram.html %}

    {% endif %}

    {% if entry.network == "Website" %}

      {% include icons/icon-website.html %}

    {% endif %}
  </a></li>

  {% endfor %}

</ul>
