<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="theme-{% if site.resume_theme %}{{ site.resume_theme }}{% endif %}">

    <div class="wrapper">

      <header class="page-header">

        <!-- You can turn off the avatar in _config.yml by setting to false -->
        {% if site.resume_avatar == 'true' %}
        <img src="{{ site.data.resume.basics.picture }}" alt="my photo" class="avatar">
        {% endif %}

        <h1 class="header-name">{{ site.data.resume.basics.name }}</h1>

        <div class="title-bar">

          <h2 class="header-title">{{ site.data.resume.basics.label }}</h2>

          <!-- This is the markup for the icon links; moved out to an include because it's very verbose, and you shouldn't ever need to edit the markup (unless you want to re-order the icons); if you want to customize which links appear, define them in the _config.yml file -->
          {% include icon-links.html %}
        </div>

        <div class="executive-summary">
          <p>{{ site.data.resume.basics.summary }}</p>
        </div>

        {% if site.resume_looking_for_work == 'yes' %}
        <a href="mailto:{{ site.data.resume.basics.email }}" class="contact-button">Contact me</a>
        {% elsif site.resume_looking_for_work == 'no' %}
        <a class="contact-button not-looking">I'm not looking for work right now.</a>
        {% else %}
        {% endif %}

      </header>

      <!-- begin Experience -->
      <section class="content-section">

        <header class="section-header">
          <h2>Experience</h2>
        </header>

        {% for entry in site.data.resume.work %}
        <div class="resume-item">
          <h3 class="resume-item-title">{{ entry.company }}</h3>
          <h4 class="resume-item-details">{{ entry.position }} &bull; {{ entry.startDate }} &mdash; {{ entry.endDate }}</h4>
          <p class="resume-item-copy">{{ entry.summary }}</p>

          <ul class="resume-item-list">
            {% for highlight in entry.highlights %}
            <li>{{ highlight }}</li>
            {% endfor %}
          </ul>
        </div>

        {% endfor %}
      </section>
      <!-- end Experience -->

      <!-- begin Education -->

      <!-- begin Experience -->
      <section class="content-section">

        <header class="section-header">
          <h2>Education</h2>
        </header>

        {% for entry in site.data.resume.education %}
        <div class="resume-item">
          <h3 class="resume-item-title">{{ entry.institution }}</h3>
          <h4 class="resume-item-details">{{ entry.studyType }}, {{ entry.area }} &bull; {{ entry.startDate }} &mdash; {{ entry.endDate }}</h4>

          <ul class="resume-item-list">
            {% for course in entry.courses %}
            <li>{{ course }}</li>
            {% endfor %}
          </ul>
        </div>

        {% endfor %}
      </section>
      <!-- end Education -->

      {% if site.resume_section_projects %}
      <!-- begin Projects -->
      <section class="content-section">

        <header class="section-header">
          <h2>Projects</h2>
        </header>

        {% for entry in site.data.resume.volunteer %}
        <div class="resume-item">
          <h3 class="resume-item-title">{{ entry.organization }}</h3>
          <h4 class="resume-item-details">{{ entry.position }} &bull; {{ entry.startDate }} &mdash; {{ entry.endDate }}</h4>
          <p class="resume-item-copy">{{ entry.summary }}</p>

        </div>

        {% endfor %}

      </section>
      <!-- end Projects -->
      {% endif %}

      {% if site.resume_section_skills %}
      <!-- begin Skills -->
      <section class="content-section">

        <header class="section-header">
          <h2>Skills</h2>
        </header>

        {% for entry in site.data.resume.skills %}
        <div class="resume-item">
          <h3 class="resume-item-title">{{ entry.name }}</h3>
          <h4 class="resume-item-details">{{ entry.level }}</h4>
        </div>
        {% endfor %}

      </section>
      <!-- end Skills -->
      {% endif %}

      {% if site.resume_section_recognition %}
      <!-- begin Recognition -->
      <section class="content-section">

        <header class="section-header">
          <h2>Recognition</h2>
        </header>

        {% for entry in site.data.resume.awards %}
        <div class="resume-item">
          <h3 class="resume-item-title">{{ entry.awarder }}</h3>
          <h4 class="resume-item-details">{{ entry.title }} &bull; {{ entry.date }}</h4>
          <p class="resume-item-copy">{{ entry.summary }}</p>
        </div>
        {% endfor %}

      </section>
      <!-- end Recognition -->
      {% endif %}

      <footer class="page-footer">
        <p class="footer-line">Made by <a href="http://twitter.com/jglovier">@jglovier</a>. Fork me on <a href="https://github.com/jglovier/resume-template">GitHub</a>.</p>
        <p class="footer-line">If this is your live resume, you can modify or remove this part. ;-)</p>
      </footer>

    </div>

  </body>

</html>
