<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <div class="wrapper">

      <header class="page-header">

        <img src="images/avatar.jpg" alt="my photo" class="avatar">

        <h1 class="header-name">{% site.resume_name %}</h1>

        <div class="title-bar">
          <h2 class="header-title">{% site.resume_title %}</h2>
          <ul class="icon-links">
            <li class="icon-link"><a href="" class=""></a></li>
          </ul>
        </div>

        <div class="executive-summary">
          <p>This is the executive summary. You should write a few brief, concise, and meaningful sentences about yourself from a professional context, and your immediate career goals. Make the length appropriate for your needs, but K.I.S.S.</p>
        </div>

        <a href="mailto:{% site.resume_contact_email %}" class="contact-button"></a>

      </header>

      <section class="primary-section">
        <header class="section-header">
          <h2>Experience</h2>
        </header>

        <div class="resume-item">

        </div>
      </section>

    </div>

  </body>

</html>
